
.box
  border: solid 1px $dark_grey
  padding: 0 1em 1em 1em
  margin: 1em
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.15), 0 0.5em 0.5em rgba(0, 0, 0, 0.2)
  border-radius: 0.25em

  h4
    color: $dark_grey
    padding: 1em 1em 0.5em 1em
    margin: 0em -1em 1em -1em
    border-bottom: 1px solid $dark_grey
    background: $box_header_background
    border-radius: 0.25em 0.25em 0 0

