.footer
  background: $dark_red
  bottom: 0
  clear: both
  color: $white
  height: 3em
  left: 0
  position: absolute
  right: 0

  ul
    text-align: right

  li
    display: inline
    list-style-type: none
    margin: 1em 1em 1em 1em

    a
      color: $white
      font-size: 12pt
      font-weight: 400
      text-decoration: none
