
input[type=text],
input[type=password]
  border: solid 1px $black
  border-radius: $input-border-radius
  font-size: 14pt
  padding: 0.5em
  margin: 1em auto
  width: 50%

input[type=submit]
  border: none
  border-radius: $input-border-radius
  background: $dark_red
  margin: 0 auto 
  font-size: 14pt
  padding: 0.7em
  color: $white
  width: 10em
